<div class="form-wrap p-4">
<h5 class="reg">Login</h5>
<p class="wel">Welcome Back</p>
<form action="/admin/login" method="POST">
    <table class="w-100" cellpadding="20">
        <tbody>
            <tr>
                <td><input type="email" name="email" placeholder="Email" id="email"></td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="Create Password" id="password"></td>
            </tr>
        </tbody>
    </table>
    <div style="padding:20px;">
        <button  class="btn btn-con w-100 p-2" type="submit" name="submit" >Continue</button>	
    </div>
</form>
</div>