<body style="background-color: white;">
    <div class="container">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Remove</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
      {{#each prods}}
      {{#each this}}
      {{#if this.price}}
    <tr>
      <th scope="row"><a href="/admin/remove/{{this._id}}"><i class="fa fa-trash" aria-hidden="true"></i></a></th>
      <td><img style="height: 20px; width:20px;" src="{{this.image}}" alt=""></td>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
    </tr>
    {{/if}}
    {{/each}}
    {{/each}}
  </tbody>
</table>
</div>

<a href="/admin/add">Add a Product</a>
</body>