<footer class="footer bgg">
		<div class="cus_container bottom">
			<div class="row">
				<div class="col-sm-4 text-center bg">
					<small>SIGN UP FOR EMAIL OFFERS & UPDATES</small>
					<form class="" >
						<input class="form-wrap newz" placeholder="Email" type="email" id='email4newz'>
						<button class="btn-newz " type="submit" value="submit">SUBMIT</button>
					</form>
				</div>

				<div class="col-sm-4 border-left border-right border-white grid-center bg">
					<small>CONNECT WITH US</small>
					<div class="connect"></div>
					
				</div>
				<div class="col-sm-4 grid-center bg">
					<small>SECURE ORDERING & TRANSACTIONS</small>
					<div class="trans-info"></div>
				</div>
			</div>
		</div>
		<div class="cus_container text-center pt-4 pb-4 bottom">
			<img class="img-fluid" src="https://i3.fnp.com/assets/images/custom/brands-14-jan-2019.png" border="0">
		</div>
		<div class="cus_container">
			<div id="text-center">
			<ul id="footerlast">
				<li><a href="#">About Us</a></li>
				<li style="padding-left: 0px;"><a href="#">EnR Team</a></li>
				<li style="padding-left: 0px;"><a href="#">Careers</a></li>
				<li style="padding-left: 0px;"><a href="#">Contact Us</a></li>
				<li style="padding-left: 0px;"><a href="#">Testimonials</a></li>
				<li style="padding-left: 0px;"><a href="#">Terms &amp; Conditions</a></li>
				<li style="padding-left: 0px;"><a href="#">Disclaimer</a></li>
				<li style="padding-left: 0px;"><a href="#">Terms Of Use</a></li>
				<li style="padding-left: 0px;"><a href="#">Privacy Policy</a></li>
				<li style="padding-left: 0px;"><a href="#"></a></li>
				<li style="padding-left: 0px;"><a href="#">Retail Stores</a></li>
				<li style="padding-left: 0px;"><a href="#">Franchise</a></li>
				<li style="padding-left: 0px;"><a href="#">Blog</a></li>
				<li style="padding-left: 0px;"><a href="#">Affiliate Program</a></li>
				<li style="padding-left: 0px;"><a href="#">Flower Astrology</a></li>
				<li style="padding-left: 0px;"><a href="#">Download App</a></li>
				<li style="padding-left: 0px;"><a href="#">Article Hub</a></li>
				<li style="padding-left: 0px;"><a href="#">Quotes N Wishes</a></li>
				<li style="padding-left: 0px;"><a href="#">Decoration Services</a></li>
				<li style="padding-left: 0px;"><a href="#">Care Guide</a></li>
				<li style="padding-left: 0px;"><a href="temap">HTML sitemap</a></li>
			</ul>
			</div>
		</div>
	</footer>