<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome {{#each user}} 
    <b>{{this.name}}</b>
    {{/each}}
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/new" class="btn btn-primary">Go to new Page</a>
<a href="/cart" class="btn btn-outline-warning">Cart</a>
