{{> header}}

<div class="content">
		<section id="1">
			<div class="w-100">
				<a href="#"><img class="img-fluid" src="img/Flower-banner.jpg"></a>
			</div>
			<br><br>
		</section>

		<section id="4" class="white cus_shadow">
			<div class="cus_container rounded text-center" style="background-color: white; padding: 20px;">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h3 class="">Flower For Occassion</h3>
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-4">
						<a href="#">
							<div class="card">
								<img class="card-img-top" src="https://images.unsplash.com/photo-1591956230058-ab00dbae5fec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
								<div class="card-body">
									<a href="#"><div class="card-title" style="color: black;"><h6>Birthday</h6></div></a>	
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="card">
								<img class="card-img-top" src="https://images.unsplash.com/photo-1564846741756-2c528ab1adb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
								<div class="card-body">
									<a href="#"><div class="card-title" style="color: black;"><h6>Anniversary</h6></div></a>	
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="card">
								<img class="card-img-top" src="https://images.unsplash.com/photo-1582661779473-87ae0abd3d05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
								<div class="card-body">
									<a href="#"><div class="card-title" style="color: black;"><h6>Premium</h6></div></a>	
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
			<br><br>
		<section class="white cus_shadow">
			<div class="cus_container rounded bg-white" style="padding: 20px;padding-bottom: 0;"><br>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4 text-center">
						<h3 class="">Types of Flowers</h3>
					</div>
					<div class="col-sm-4">
						<a href="#" class="btn btn-success float-right">View All</a>
					</div>
				</div><br><br>
				<div class="row ">
					<div class="col-sm-4">
						<div class="card">
							<img class="card-img-top" src="https://images.unsplash.com/photo-1532010940201-c31e6beacd39?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
						</div>
						<div class="text-center card-over">
							<h3 class="wh">ROSES</h3><br>
							<a href="#" class="btn btn-white">Explore Now</a><br>
						</div>
						<div class="extra">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img class="card-img-top" src="https://images.unsplash.com/photo-1565471059542-3ee63cbdb905?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
						</div>
						<div class="text-center card-over">
							<h3 class="wh">LILIES</h3><br>
							<a href="#" class="btn btn-white">Explore Now</a><br>
						</div>
						<div class="extra">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img class="card-img-top" src="https://images.unsplash.com/photo-1588411673262-9bbf31c3ed8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
						</div>
						<div class="text-center card-over">
							<h3 class="wh">CARNATIONS</h3><br>
							<a href="#" class="btn btn-white">Explore Now</a><br>
						</div>
						<div class="extra">
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section>
			<br><br>
			<div class="cus_container rounded bg-white" style="padding: 20px;"><br>
				<div class="row">
					<div class="col-sm-12 text-center">
						<h3 class="">More flowers</h3>
					</div>
				</div><br>
				<div class="row">
					<div class="col-sm-4">
						<div class="card">
							<a href="#"><img class="card-img-top" src="img/premiumfl.jpg"></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<a href=""><img class="card-img-top" src="img/bestbdyfl.png"></a>
								</div>
							</div>
						</div>
						<div class="row" style="padding-top: 15px;">
							<div class="col-sm-6">
								<div class="card">
									<a href=""><img class="card-img-top" src="img/orchidfl.jpg"></a>			
								</div>
							</div>
							<div class="col-sm-6">
								<div class="card">
									<a href=""><img class="card-img-top" src="img/ecoticfl.jpg"></a>			
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<section id="2" class="cus_shadow text-center">
			<br><br>	
			<div class="white rounded">
				<br><h2>Flower For</h2><br>
				<div class="row">	
					<div class="w-10"></div>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/gf.png">
						</div>
						<label>Girlfriend</label>
					</a>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/bf.png"></div>
						<label>Boyfriend</label>
					</a>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/her.png">
						</div>
						<label>Her</label>
					</a>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/him.png">
						</div>
						<label>Him</label>
					</a>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/wife.png">
						
						</div>
						<label>Wife</label>
					</a>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/husband.png">
						
						</div>
						<label>Husband</label>
					</a>
				</div>
				<br><br>
			</div>
		</section>

		<section id="5">
			<br><br>
			<div class="white cus_shadow">
				<div class="cus_container text-left" style="background-color: white; padding: 20px;">
					<div class="row">
						<div class="col-sm-6 text-left">
							<h3 class="float-left ">Birthday Best Seller</h3>
						</div>
					</div><br>
					<div class="row">
						<div class="col-md-3">
							<div class="card">
								<img class="card-img-top p-2" src="img/choice.jpg">
								<div class="card-body">
									<a href="#"><div class="card-title" style="color: black;"><h6>Fresh Vanilla Cake</h6></div></a>	
									<p style="font-size: 18px; font-weight: 600;"> ₹ 499</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card">
								<img class="card-img-top p-2" src="img/rose.jpg">
								<div class="card-body">
									<a href="#"><div class="card-title" style="color: black;"><h6>Special Purpose Arrangement</h6></div></a>	
									<p style="font-size: 18px; font-weight: 600;"> ₹ 549</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card">
								<img class="card-img-top p-2" src="img/mixrose.jpg">
								<div class="card-body">
									<a href="#"><div class="card-title" style="color: black;"><h6>Personalized Cusion</h6></div></a>	
									<p style="font-size: 18px; font-weight: 600;"> ₹ 599</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card">
								<img class="card-img-top p-2" src="img/premium.jpg">
								<div class="card-body">
									<a href="#"><div class="card-title" style="color: black;"><h6>Rose Repose</h6></div></a>	
									<p style="font-size: 18px; font-weight: 600;"> ₹ 999</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br>
		</section>
	</div>

{{> footer}}