{{> header}}
<div class="content">
		<section id="1">
			<div class="w-100">
				<a href="#"><img class="img-fluid" src="img/birthday.jpg"></a>
			</div>
			<br><br>
		</section>

		<section id="4">
			<div class="cus_container border rounded shadow text-center" style="background-color: white; padding: 20px;">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h3 class="">Birthday Gifts Online</h3>
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-4">
						<a href="#">
							<div class="card">
								<img class="card-img-top p-2" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
								<div class="card-body">
									<a href="#"><div class="card-title" style="color: black;"><h6>Digital Gifts</h6></div></a>	
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="card">
								<img class="card-img-top p-2" src="https://images.unsplash.com/photo-1557163638-71e3ad2d3a52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
								<div class="card-body">
									<a href="#"><div class="card-title" style="color: black;"><h6>Cakes</h6></div></a>	
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="card">
								<img class="card-img-top p-2" src="https://images.unsplash.com/photo-1512909006721-3d6018887383?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
								<div class="card-body">
									<a href="#"><div class="card-title" style="color: black;"><h6>Best Seller Gifts</h6></div></a>	
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<br><br>
		</section>

		<section>
			<div class="cus_container rounded bg-white" style="padding: 20px;padding-bottom: 0;"><br>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4 text-center">
						<h3 class="">Cakes for Birthday</h3>
					</div>
					<div class="col-sm-4">
						<a href="#" class="btn btn-success float-right">View All</a>
					</div>
				</div><br><br>
				<div class="row ">
					<div class="col-sm-4">
						<div class="card">
							<img class="card-img-top" src="https://images.unsplash.com/photo-1568051243857-068aa3ea934d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
						</div>
						<div class="text-center card-over">
							<h3 class="wh">Eggless Cakes</h3><br>
							<a href="#" class="btn btn-white">Explore Now</a><br>
						</div>
						<div class="extra">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img class="card-img-top" src="https://images.unsplash.com/photo-1546541865-1cb39bcd0c83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
						</div>
						<div class="text-center card-over">
							<h3 class="wh">Premium Cakes</h3><br>
							<a href="#" class="btn btn-white">Explore Now</a><br>
						</div>
						<div class="extra">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img class="card-img-top" src="https://images.unsplash.com/photo-1563076429-c04cbe68da3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
						</div>
						<div class="text-center card-over">
							<h3 class="wh">Photo Cakes</h3><br>
							<a href="#" class="btn btn-white">Explore Now</a><br>
						</div>
						<div class="extra">
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section>
			<br><br>
			<div class="cus_container rounded bg-white" style="padding: 20px;"><br>
				<div class="row">
					<div class="col-sm-12 text-center">
						<h3 class="">Flowers for Birthday</h3>
					</div>
				</div><br>
				<div class="row">
					<div class="col-sm-4">
						<div class="card">
							<a href="#"><img class="card-img-top" src="img/premiumfl.jpg"></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<a href=""><img class="card-img-top" src="img/bestbdyfl.png"></a>
								</div>
							</div>
						</div>
						<div class="row" style="padding-top: 15px;">
							<div class="col-sm-6">
								<div class="card">
									<a href=""><img class="card-img-top" src="img/orchidfl.jpg"></a>			
								</div>
							</div>
							<div class="col-sm-6">
								<div class="card">
									<a href=""><img class="card-img-top" src="img/ecoticfl.jpg"></a>			
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<section id="2" class="cus_container text-center">
			<br><br>	
			<div class="white rounded">
				<br><h2>Birthday Gifts For</h2><br>
				<div class="row">	
					<div class="w-10"></div>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/gf.png">
						</div>
						<label>Girlfriend</label>
					</a>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/bf.png"></div>
						<label>Boyfriend</label>
					</a>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/her.png">
						</div>
						<label>Her</label>
					</a>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/him.png">
						</div>
						<label>Him</label>
					</a>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/wife.png">
						
						</div>
						<label>Wife</label>
					</a>
					<a href="#" class="w-10">
						<div class="border circle shadow">
							<img class="circle" src="img/husband.png">
						
						</div>
						<label>Husband</label>
					</a>
				</div>
				<br><br>
			</div>
		</section>

		<section id="5">
			<br><br>
			<div class="cus_container border rounded shadow text-left" style="background-color: white; padding: 20px;">
				<div class="row">
					<div class="col-sm-6 text-left">
						<h3 class="float-left ">Birthday Best Seller</h3>
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top p-2" src="https://images.unsplash.com/photo-1568051243857-068aa3ea934d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
							<div class="card-body">
								<a href="#"><div class="card-title" style="color: black;"><h6>Fresh Vanilla Cake</h6></div></a>	
								<p style="font-size: 18px; font-weight: 600;"> ₹ 499</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top p-2" src="https://images.unsplash.com/photo-1534349762230-e0cadf78f5da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
							<div class="card-body">
								<a href="#"><div class="card-title" style="color: black;"><h6>Special Purpose Arrangement</h6></div></a>	
								<p style="font-size: 18px; font-weight: 600;"> ₹ 549</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top p-2" src="https://images.unsplash.com/photo-1561641093-7989a05bf053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
							<div class="card-body">
								<a href="#"><div class="card-title" style="color: black;"><h6>Personalized Cusion</h6></div></a>	
								<p style="font-size: 18px; font-weight: 600;"> ₹ 599</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top p-2" src="https://images.unsplash.com/photo-1579591165198-b28d0976240f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
							<div class="card-body">
								<a href="#"><div class="card-title" style="color: black;"><h6>Rose Repose</h6></div></a>	
								<p style="font-size: 18px; font-weight: 600;"> ₹ 999</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br>
		</section>
	</div>
	{{> footer}}
	<script src="js/giftPage.js"></script>
