input{
	width: 100%;
	height: 40px;
	color: #333;
	background: none;
	border: 0;
	border-bottom: #c8c8c8 2px solid;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	vertical-align: bottom;
}

.login{
    position: relative;
    background-color: #f8f8f8;
}

.khel{
	border-top: none;
}
.msg-bor{
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;	
	background-color: green;
	color: white;
	min-width: 40px;
	height: 35px;
}
.msg{
	font-size: 22px;
	color:black;
	width: 40%;
	padding:40px;
	margin-top: 100px;
}
.blink_me {
  animation: blinker .5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
  75%{
  	opacity: 0;
  }
}

.login_container{

    max-width: 60%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.reg{
	padding: 20px;
	padding-bottom: 5px;
	font-weight: 900;
	text-transform: uppercase;	
}

.wel{
	padding-left: 20px;
	color: #00994f;
}

.btn-con{
	background-color: #ff9212;
	color: white;
	height: 52px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;

}

.btn-con:hover{
	background-color: #ff8300;
	color: white;
}

.cus_shadow{
	box-shadow: 0 .1rem .3rem rgba(0,0,0,.1) !important;
}

.social-btn .btn-secondary{
	background-color: #3b5998;
}
.social-btn .btn-secondary:hover{
	background-color: #153c8c;
}


.social-btn .btn-google{
	background-color: #dd4b39;
}

.social-btn .btn-google:hover{
	background-color: #c4200b;
}



@media (max-width:1350px){
	.login_container{
	    max-width: 75%;
	}
	
	.msg{
		width: 55%
	}
}

@media (max-width:1100px){
	.login_container{
	    max-width: 100%;
	}
	.msg{
		width: 65%
	}
}
@media (max-width:1000px){

	.msg{
		width: 100%
	}
}
